*{
background: rgba(192, 255, 217, 0.81);
box-sizing: border-box;
}
body {
    background: rgba(192, 255, 217, 0.81);
    margin: 0;
    overflow: hidden;
}

.logo {
    width: 72px;
    height: 72px;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    position: relative;
}
.background-image-Home img{
    border-radius: 100px;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    opacity: 40%;
    transform: rotate(13deg);

}
.background-image-Home.col-lg-6 {
    
    margin-left: 200px;
}
.background-image-Home.col-12  {

    margin-left: 0px;
}
.blocovendas_disponiveis{
    margin-top: 20px;
}
    