*{
background: rgba(192, 255, 217, 0.81);
}
body {
    background: rgba(192, 255, 217, 0.81);
    margin: 0;
    overflow: hidden;
}

.logo {
    width: 72px;
    height: 72px;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    position: relative;
}
.imageTrain {
    width: 100%;
    height: 150px;
    background-image: url(../img/2378d41b30_50156486_trainautonome-thales-aapsky-adobe-stock.jpg);
    background-position: center center;
    display: flex;
    margin-top: 10px;
    background-size: 150%;
    border-radius: 100px 100px 100px 100px;
    position: absolute;
    opacity: 50%;
    
    
}
.Container-primario{
    width: 100%;
    height: 100%;
    display: flex;
}
.Container_Vendas_Disponiveis{
    width: 50%;
    height: 100%;
    margin-top: 300px;
    display: flex;
  
}
.Container_Vendas{
    width: 50%;
    height: 100%;
    margin-top: 300px;
    display: flex;
    background-color: aqua;
}
